{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    <section class ="articles">

        <article>
            <h3>
                L'ère LeBron James chez les Lakers officiellement commencée</h3>
            <div class="metadata">Ecrit le 24/09/2018 a 21:03 dans la categorie Sport
            </div>
            <div class="content">
                <img  style="width: 320px;"src="{{ asset('bron_new_swap_720-1.jpg') }}" alt="james">
                <p>
                    Attendu à Los Angeles comme le Messie, «King James» n'a pas fait le spectacle pour sa première apparition sous le célèbre maillot jaune des Lakers: il a bouclé sa conférence de presse en 13 petites minutes et a asséné ses réponses le visage fermé, presque laconique.

                    Son message est clair: son arrivée ne va pas transformer d'un coup de baguette magique une équipe qui n'a pas participé aux séries éliminatoires depuis 2013 en prétendant au titre dès cette saison.

                    «Nous avons une longue route à faire avant de concurrencer Golden State. Ils repartent d'où ils ont laissé les choses en juin, nous partons à zéro», a-t-il expliqué, en référence aux Warriors, qui ont remporté trois titres depuis 2015, dont les deux derniers.

                    «Nous ne devons pas nous concentrer sur ce que fait Golden State; Golden State est Golden State, ils sont champions, ils jouent ensemble depuis quelques années maintenant», a-t-il poursuivi.

                    «Nous devons uniquement nous focaliser sur ce qu'on peut faire de mieux jour après jour pour les Lakers et un jour, espérons-le, on pourra se retrouver en position de concurrencer Golden State pour le titre de champion», a relevé James, qui a signé en juillet un contrat de quatre ans d'une valeur de 154 millions de dollars avec les Lakers.
                </p>
                <a href="https://www.basketsession.com/actu/lebron-james-los-angeles-lakers-4-431365/" class="btn btn-primary">Lire la suite</a>
            </div>
        </article>

        <article>
            <h3>Le nouveau livre d’Ousmane Sonko : plus que des «Solutions» ( Par Lamine Niang)</h3>
            <div class="metadata">Ecrit le 22/09/2018 a 17:03 dans la categorie Politique
            </div>
            <div class="content">
                <img style="width: 320px;" src="{{ asset('Ousmane-Sonko-1-1.jpg') }}" alt="sonko">
                <p>
                    Le nouveau livre d’Ousmane Sonko : plus que des «Solutions»

                    Après avoir parcouru minutieusement l’ouvrage «Solutions», l’on peut affirmer de prime abord et sans l’ombre d’un doute  que si les Sénégalais font confiance à Ousmane Sonko et lui accordent leur vote lors de la prochaine élection présidentielle,  celui-ci ne sera jamais qualifié d’un président par défaut qu’un concours de circonstances favorables a permis d’accéder au pouvoir. De toute évidence, en exprimant  aussi clairement le fond de sa pensée dans ce brillantissime essai politique,  on peut postuler qu’il perçoit  la direction du pays non pas comme l’étape ultime de la  satisfaction d’une vile ambition personnelle, mais plutôt comme un projet sérieux et complexe qu’il faut concevoir dans les moindres détails et s’y préparer convenablement.
                </p>
                <a href="http://xalimasn.com/le-nouveau-livre-dousmane-sonko-plus-que-des-solutions-par-lamine-niang/" class="btn btn-primary">Lire la suite</a>
            </div>
        </article>
        <article>
            <h3>Mondial Basket Féminin : Les Lionnes perdent sur le fil face aux chinoises</h3>
            <div class="metadata">Ecrit le 17/09/2018 a 06:03 dans la categorie Sport
            </div>
            <div class="content">
                <img  style="width: 320px;" src="{{ asset('fi_ba-1.jpeg') }}" alt="basket">
                <p>
                    Après leur brillante victoire face à Lituanie Dimanche, les Lionnes du Basket se sont inclinées 75 à 66 contre la Chine pour leur troisième sortie à la Coupe du monde de basket.

                    Les sénégalaises se sont heurtées à des chinoises très appliquées et disciplinées derrière. Moins inspiré que face à la Lituanie et fébrile défensivement, le Sénégal a laissé trop de largesse à son adversaire du jour.

                    La qualification pour les quarts de finale s’annonce compliquée pour les Lionnes Mais, les carottes ne sont pas encore cuites pour les Lionnes. Troisièmes du Groupe D, les filles de Cheikh Sarr ont encore une carte à jouer pour se qualifier pour les quarts de finale.
                </p>
                <a href="https://legalsen.com/sports/basket-ball/live-coupe-du-monde-basket-femmes-senegal-v-lettonie-46382.html" class="btn btn-primary">Lire la suite</a>
            </div>
        </article>


    </section>



{% endblock %}
